[scanner]
serial:/dev/serial/by-id/usb-Cartographer_614e_038017001043303856303820-if00
#    adjust to suit your scanner, if using usb change to serial.
#    serial: /dev/serial/by-id/usb-cartographer_cartographer_
x_offset: 0                          
#    adjust for your cartographers offset from nozzle to middle of coil
y_offset: 25                         
#    adjust for your cartographers offset from nozzle to middle of coil
backlash_comp: 0.08168
#   Backlash compensation distance for removing Z backlash before measuring
#   the sensor response.
# 
#   Offsets are measured from the centre of your coil, to the tip of your nozzle 
#   on a level axis. It is vital that this is accurate. 
calibration_method: touch
#    leave this as touch unless you want to use scan only for everything. 
sensor: cartographer
#    this must be set as cartographer unless using IDM etc.
sensor_alt: carto
#    alternate name to call commands. CARTO_TOUCH etc
scanner_touch_z_offset: 0.05         
#    This is the default and will be overwritten and added to the DO NOT SAVE area by using UI to save z offset
mesh_runs: 2
#    Number of passes to make during mesh scan.




#[safe_z_home]
#home_xy_position: 162.5, 162.5
# Example home_xy_position: 175,175 - This would be for a 350 * 350mm bed. 
#z_hop: 10


[bed_mesh]
zero_reference_position: 162.5, 162.5
speed:300              
horizontal_move_z:5   
mesh_min:25,25        
mesh_max:310,310 
mesh_pps: 3,3
probe_count: 81,81      
algorithm:bicubic
bicubic_tension:0.1
fade_target: 0
adaptive_margin: 0




#[gcode_macro PROBE_CALIBRATE]
#gcode:
   #CARTOGRAPHER_CALIBRATE


[gcode_macro Cartographer_list]
gcode:
    CARTOGRAPHER_MODEL_LIST
